<%= form_tag("/search", method: "get")  do %>
<%= label_tag(:name, "Search for:") %>
<%= text_field_tag :name %>
<%= submit_tag("Search")%>
<% end %>


<% @resp_arr.each do |politician| %>
	<% politician.each do |record| %>
	<% @speaker_name = record["speaker_first"] + " " + record["speaker_last"] %>
	<% @link = record["capitolwords_url"] %>
			<% record['speaking'].each do |text| %>
			<p><%= link_to text, @link %> <br>-<%=@speaker_name%></p>
			<% end %>
		<% end %>
<% end %>

<!-- <ul>
<#% @resp_arr.each do |x| %>
	<li>
	<#%= x['results'][0]['speaking'] %>
	<#%= x['results'][0]['speaker_first']%> <%#=x['results'][0]['speaker_last'] %>
	</li>
<#% end %>
</ul> -->
<!-- <#% @resp_arr.each do |x| %>
	<p><#%= x %></p>
<#% end %> -->
<!-- 
<#%= @response.body['results'].each do |x| %>
	<#% @link = x["capitolwords_url"] %>
	<#% @speaker_name = x["speaker_first"] + " " + x["speaker_last"] %>
	<#% x["speaking"].each do |i|%>
		<p><#%= link_to i, @link %> <br>-<#%=@speaker_name%></p>
	<#% end %>
<#% end %> -->